<form action="">
	<fieldset>
		<legend>{{t "location.basicInformation"}}</legend>
		<FormField @model={{this.model}} @field="name" />
	</fieldset>
	<fieldset>
		<legend>{{t "location.descriptionNotes"}}</legend>
		<FormField @model={{this.model}} @field="description" />
	</fieldset>
	{{outlet}}
</form>