{{#if this.options.length}}
	<ul id="{{this.elementId}}-options" role="listbox" aria-live="assertive" aria-expanded="true" {{on-click-outside @onClose}}>
		{{#each this.options as |autocompleteOption|}}
			<li role="option" aria-selected="{{if autocompleteOption.isSelected 'true' 'false'}}" aria-setsize={{this.options.length}} {{on "click" (fn this.selectOption autocompleteOption)}}>
				{{autocompleteOption.name}}
			</li>
		{{/each}}
	</ul>
{{/if}}

{{yield}}