<form action="" role="search">
	<label for="{{this.elementId}}-autocomplete">{{this.autocompletePrompt}}</label>
	<input type="search" id="{{this.elementId}}-autocomplete" autocomplete required list="{{this.elementId}}-options" {{auto-focus}}/>
</form>

{{#if this.options.length}}
	<datalist id="{{this.elementId}}-options">
		{{#each this.options as |option|}}
			<option>{{option.name}}</option>
		{{/each}}
	</datalist>
{{/if}}

{{yield}}