<form action="" method="POST" class="character-editor" ...attributes>
	<fieldset>
		<legend>Basic Character Information</legend>
		<FormField @model={{@character}} @field="name" class="character-name-field"/>
		<FormField @model={{@character}} @field="title"/>
		<FormField @model={{@character}} @field="age" @type="number" @min="1"/>
	</fieldset>
	<fieldset>
		<legend>Gender and Sexuality</legend>
		<FormField @model={{@character}} @field="gender"/>
		<FormField @model={{@character}} @field="sexuality"/>
	</fieldset>
	<fieldset>
		<legend>Background, Notes & Details</legend>
		<FormField @model={{@character}} @field="background" @type="textarea"/>
		<FormField @model={{@character}} @field="notes" @type="textarea"/>
	</fieldset>
	{{yield}}
</form>