<div class="{{this.className}} {{if this.hasFocus this.focusedClassName}} {{if this.hasValue this.hasValueClassName}} {{if @model.isSaving this.savingClassName}} {{if @model.hasDirtyAttributes this.unsavedClassName}}" ...attributes>
	<label for={{this.elementId}} class={{this.labelClassName}}>
		{{#if @labelText}}
			{{@labelText}}
		{{else}}
			{{@field}}
		{{/if}}
	</label>

	{{#if this.isTextarea}}
		<Textarea @value={{get @model @field}} class={{this.formControlClassName}} id={{this.elementId}} required={{true}} @focus-in={{fn (mut this.hasFocus) true}} @focus-out={{fn (mut this.hasFocus) false}} @required={{this.isRequired}} {{on "blur" this.autosave}}/>
	{{else}}
		{{#if this.isCheckbox}}
			<Input @type={{this.type}} @checked={{get @model @field}} class={{this.formControlClassName}} id={{this.elementId}} required={{this.isRequired}} @change={{this.autosave}}/>}
		{{else}}
			{{#if this.isDate}}
				<Inputs::DateInput @value={{get @model @field}} id={{this.elementId}} @onClose={{@focusOut}} @onChange={{fn (mut (get @model @field))}} @maxDate={{@max}} @minDate={{@min}}/>
			{{else}}
				<Input @type={{this.type}} @value={{get @model @field}} class={{this.formControlClassName}} id={{this.elementId}} required={{this.isRequired}} @min={{@min}} @max={{@max}} @step={{@step}} @focus-in={{fn (mut this.hasFocus) true}} @focus-out={{fn (mut this.hasFocus) false}} {{on "blur" this.autosave}} @size={{get (get @model @field) "length"}}/>
			{{/if}}
		{{/if}}
	{{/if}}
	{{yield}}
</div>
