<dialog aria-live="assertive" open aria-labelledby="{{this.elementId}}-form-heading" class="mobiledoc-editor__link-prompt">
	<form action="" {{on "submit" (fn @on-submit this.url)}}>
		<FormField @model={{this}} @field="url" @labelText="URL" />
		<footer class="form-actions">
			<button type="button" {{on "click" @on-cancel}} class="close-button">Cancel</button>
			<button type="submit">Create link</button>
		</footer>
		{{yield}}
	</form>
</dialog>