<form action="" class="node-editor" ...attributes>
	{{yield}}
	{{#if this.eventDuration}}
		<output for="{{this.elementId}}-end-time" aria-atomic="true" aria-live="assertive">{{moment-duration this.eventDuration}}</output>
	{{/if}}
	<fieldset>
		<legend class="visuallyhidden">Basic Information</legend>
		<FormField @model={{@node}} @field="title" class="node-title"/>
		<FormField @model={{@node}} @field="summary" class="node-summary"/>
		{{#if this.isEvent}}
			<LinkTo @route="stories.story.timeline.event" @models={{array @node.timeline.story.id @node.timeline.id @node.id}}>Edit content for this event</LinkTo>
		{{/if}}

	</fieldset>
	{{#if this.isEvent}}
		<details>
			<summary>Event Timing</summary>
			<fieldset aria-live="assertive" aria-atomic="true">
				<legend class="visuallyhidden">Timing Information</legend>
				<FormField @model={{@node}} @field="startTime" @type="datetime-local" @max={{@node.endTime}}/>
				<FormField @model={{@node}} @field="endTime" @type="datetime-local" @min={{@node.startTime}} @fieldId="{{this.elementId}}-end-time"/>
			</fieldset>
		</details>
	{{/if}}
</form>