<form action="" class="node-editor" ...attributes>
	{{yield}}
	<fieldset>
		<legend class="visuallyhidden">Basic Information</legend>
		<FormField @model={{@node}} @field="title" @focusOut={{this.save}}/>
		<FormField @model={{@node}} @field="summary" @focusOut={{this.save}}/>
		{{#if this.isEvent}}
			<LinkTo @route="stories.story.timeline.event" @models={{array @node.timeline.story.id @node.timeline.id @node.id}}>Edit content for this event</LinkTo>
		{{/if}}

	</fieldset>
	{{#if this.isEvent}}
		<fieldset>
			<legend>Timing Information</legend>
			<FormField @model={{@node}} @field="startTime" @type="datetime-local" @focusOut={{this.save}} @max={{@node.endTime}}/>
			<FormField @model={{@node}} @field="endTime" @type="datetime-local" @focusOut={{this.save}} @min={{@node.startTime}}/>
			{{#if this.eventDuration}}
				<output>{{@node.name}} will last {{moment-duration this.eventDuration}}</output>
			{{/if}}
		</fieldset>
	{{/if}}
</form>