<form action="" class="node-editor" ...attributes>
	{{yield}}
	<fieldset>
		<legend class="visuallyhidden">Basic Information</legend>
		<FormField @model={{@node}} @field="title"/>
		<FormField @model={{@node}} @field="summary"/>
		{{#if this.isEvent}}
			<LinkTo @route="stories.story.timeline.event" @models={{array @node.timeline.story.id @node.timeline.id @node.id}}>Edit content for this event</LinkTo>
		{{/if}}

	</fieldset>
	{{#if this.isEvent}}
		<fieldset>
			<legend>Timing Information</legend>
			<FormField @model={{@node}} @field="startTime" @type="datetime-local" @max={{@node.endTime}}/>
			<FormField @model={{@node}} @field="endTime" @type="datetime-local" @min={{@node.startTime}} as |field|>
				{{#if this.eventDuration}}
					<output for={{field.id}}>{{@node.name}} will last {{moment-duration this.eventDuration}}</output>
				{{/if}}
			</FormField>
		</fieldset>
	{{/if}}
</form>