<article class="story-list">
	<ul class="actions">
		<li class="action"><button type="button" {{on "click" this.createStory}}>Create a story</button></li>
	</ul>
	{{#if @stories.length}}
		<ul class="stories">
			{{#each @stories as |story|}}
				<li>
					<dl>
						<dt>Story Name</dt>
						<dd>
							<LinkTo @route="stories.story" @model={{story}}>
								{{#if story.title}}
									{{story.title}}
								{{else}}
									Untitled story
								{{/if}}
							</LinkTo>
						</dd>
						{{#if story.summary}}
							<dt>Summary</dt>
							<dd>{{story.summary}}</dd>
						{{/if}}
						{{#if story.characters.length}}
							<dt>Characters</dt>
							<dd>{{story.characters.length}}</dd>
						{{/if}}
					</dl>
					<ul>
						<li>
							<button type="button" {{on "click" (fn this.removeStory story)}}>Remove</button>
						</li>
					</ul>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<dialog role="dialog">
			<h3>No stories found</h3>
			<button type="button" {{on "click" this.createStory}}>Try creating one</button>
		</dialog>
	{{/if}}

	{{yield}}
</article>
