<article class="story-editor-container">
	<NodeEditor @node={{@story}} @onSubmit={{this.save}}/>

	<ul class="timelines">
		{{#each @story.timelines as |timeline index|}}
			<li class="timeline-container"><Timeline @timeline={{timeline}} @index={{index}}/></li>
		{{else}}
			<li><p>No timelines here</p></li>
		{{/each}}
		<li class="add-timeline">
			<button type="button" {{on "click" this.addTimeline}}>Add timeline</button>
		</li>
	</ul>
	{{yield}}
</article>