<article class="story-list">
	{{#if @stories.length}}
		<ul class="stories">
			{{#each @stories as |story|}}
				<li class="story">
					<LinkTo @route="stories.story" @model={{story}} class="story-link">
						<strong class="story-title">
							{{#if story.title}}
								{{story.title}}
							{{else}}
								{{t "story.defaultTitle"}}
							{{/if}}
						</strong>
						<dl class="story-meta">
							{{#if story.summary}}
								<dt>{{t "story.summary.label"}}</dt>
								<dd><RenderMobiledoc @mobiledoc={{story.summary}} @atomNames={{this.atomNames}} @cardNames={{this.cardNames}}/></dd>
							{{/if}}
							{{#if story.characters.length}}
								<dt>{{t "story.characters.label"}}</dt>
								<dd>{{story.characters.length}}</dd>
							{{/if}}
						</dl>
					</LinkTo>
					<ul class="story-actions">
						<li class="story-action">
							<button type="button" {{on "click" (fn this.removeStory story)}}>Remove</button>
						</li>
					</ul>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<dialog role="dialog">
			<h3>No stories found</h3>
			<LinkTo @route="stories.create">Create a story</LinkTo>
		</dialog>
	{{/if}}

	{{yield}}
</article>
