<article class="story-editor-container" ...attributes>
	<NodeEditor class="story-editor" @node={{@story}} @onSubmit={{this.save}}/>

	<ol class="timelines">
		{{#each @story.timelines as |timeline index|}}
			<li class="timeline-container">
				<Timeline @timeline={{timeline}} @index={{index}} @story={{@story}}>
					{{yield}}
				</Timeline>
			</li>
		{{else}}
			<li><p>No timelines here</p></li>
		{{/each}}
		<li class="add-timeline">
			<button type="button" {{on "click" this.addTimeline}}>Add timeline {{svg-jar "add"}}</button>
		</li>
	</ol>
</article>