<article class="story-editor-container" local-class="story-editor-container" ...attributes>
	<NodeEditor class="story-editor" @node={{@story}} @onSubmit={{this.save}}/>

	<ul class="timelines">
		{{#each @story.timelines as |timeline index|}}
			<li local-class="timeline-container">
				<Timeline @timeline={{timeline}} @index={{index}}>
					{{yield}}
				</Timeline>
			</li>
		{{else}}
			<li><p>No timelines here</p></li>
		{{/each}}
		<li local-class="add-timeline">
			<button type="button" {{on "click" this.addTimeline}}>Add timeline</button>
		</li>
	</ul>
</article>