<article class="timeline" ...attributes>
	<NodeEditor @node={{@timeline}} class="timeline-edit-form">
		<ul class="contextual-actions">
			<li class="action contextual-action">
				<button type="button" {{on "click" this.remove}} title="Remove timeline">{{svg-jar "delete"}}</button>
			</li>
		</ul>
	</NodeEditor>

	<ul class="events">
		{{#each this.sortedEvents as |event eventIndex|}}
			<li class="event-container" data-test-id={{event.id}} {{draggable ondragstart=(fn (mut this.draggedEvent) event)}} {{droppable ondrop=(fn this.moveEventBefore this.draggedEvent event)}}>
				<article class="event node">
					{{#if event.isLoading}}
						<progress></progress>
					{{else}}
						<NodeEditor @node={{event}}>
							<ul class="contextual-actions">
								<li class="action contextual-action">
									<LinkTo @route="stories.story.timelines.event" @models={{array event}}><span class="visuallyhidden">Edit content for this event</span>{{svg-jar "edit"}}</LinkTo>
								</li>
								{{#if eventIndex}}
									<li class="action contextual-action">
										<button type="button" {{on "click" (fn this.removeEvent event)}} title="Remove Event">{{svg-jar "delete"}}</button>
									</li>
								{{/if}}
							</ul>
						</NodeEditor>
					{{/if}}
				</article>
				<ul class="link-actions">
					<li class="link-action">
						<button class="add-after" type="button" {{on "click" (fn this.addEvent event)}} title="Add event after this one">{{svg-jar "add_circle"}}</button>
					</li>
					<li class="link-action">
						<button class="fork-event" type="button" {{on "click" (fn this.addTimelineToEvent event)}}>{{svg-jar "call_split" class="rotate-90"}}</button>
					</li>
				</ul>
				{{#if event.nestedTimelines.length}}
					{{#each event.nestedTimelines as |nestedTimeline index|}}
						<ul class="nested-timelines">
							<li class="nested-timeline">
								<Timeline @timeline={{nestedTimeline}} @index={{index}} @story={{@story}}/>
							</li>
						</ul>
					{{/each}}
				{{/if}}
			</li>
		{{/each}}
	</ul>

	{{yield}}
</article>