<article class="timeline">
	<NodeEditor @node={{@timeline}}>
		<h4>
			<LinkTo @route="stories.story.timeline" @model={{@timeline}} title="Expand for more">
				{{#if @timeline.title}}
					{{@timeline.title}}
				{{else}}
					Timeline {{@index}}
				{{/if}}
			</LinkTo>
		</h4>
		<ul class="actions">
			<li class="action">
				<button type="button" {{on "click" this.addNestedTimeline}}>Add nested timeline</button>
			</li>
			<li class="action">
				<button type="button" {{on "click" this.addEvent}}>Add event</button>
			</li>
			<li class="action">
				<button type="button" {{on "click" this.remove}}>Remove timeline</button>
			</li>
		</ul>
	</NodeEditor>

	<ul class="events">
		{{#each this.sortedEvents as |event|}}
			<li class="event node" data-test-id={{event.id}}>
				<NodeEditor @node={{event}}>
					<ul class="actions">
						<li class="action">
							<button type="button" {{on "click" (fn this.removeEvent event)}}>Remove event</button>
						</li>
						<li class="action">
							<button type="button" {{on "click" (fn this.addEvent event)}}>Add event after this one</button>
						</li>
					</ul>
				</NodeEditor>
			</li>
		{{/each}}
	</ul>
	{{#each @timeline.timelines as |nestedTimeline index|}}
		<ul class="nested-timelines">
			<li class="nested-timeline">
				<Timeline @timeline={{nestedTimeline}} @index={{index}}/>
			</li>
		</ul>
	{{/each}}

	{{yield}}
</article>