<Forms::User::Authentication @onSubmit={{this.login}} @submitText={{t "login.submitText"}} @title={{t "login.title"}}>
	<p class="form-help">{{t "login.help.persist" htmlSafe=true}}</p>
	<p class="form-help">{{t "login.help.anonymous"}}</p>
</Forms::User::Authentication>