<Forms::User::Authentication @onSubmit={{this.register}} @isRegistration={{true}} @submitText={{t "register.submitText"}} @title={{t "register.title"}}>
	<p class="form-help">{{t "register.help.persist" htmlSafe=true}}</p>
	<p class="form-help">{{t "register.help.anonymous"}}</p>
</Forms::User::Authentication>