<form action="" class="settings-form padded">
	<fieldset class="form-group">
		<legend>General Settings</legend>
		<FormField class="gridded" @model={{this.settings.settings}} @field="maxWordCount" @type="number" min="1"/>
	</fieldset>
	<fieldset class="form-group">
		<legend>Event Settings</legend>
		<FormField class="gridded" @model={{this.settings.settings}} @field="defaultDuration" @type="duration"/>
	</fieldset>
	<fieldset class="form-group">
		<legend>Export Data</legend>
		<p>Export all of the stories and their content to a <code>.json</code> file for importing into another machine.</p>
		<button type="button" {{on "click" this.exportData}}>Export Stories to .json file {{svg-jar "file_download"}}</button>
	</fieldset>
	<fieldset class="form-group">
		<legend>Import Data</legend>
		<p>Import any or stories, events, or characters.</p>
		<p><strong>Warning!  Will overwrite all data</strong>.</p>
		<div class="form-field gridded">
			<label for="import-settings" class="form-field-label">JSON file to import</label>
			<Input type="file" class="form-control" @value={{this.uploadedSettingsFile}} {{on "change" this.importData}} id="import-settings"/>
		</div>
	</fieldset>
</form>

{{outlet}}